/* Adjust the background position when using this widget with a RTL language. */
[dir="rtl"] .fivestar-minimal div.fivestar-widget-static .star span.on {
  background-position: right -32px;
}
[dir="rtl"] .fivestar-minimal div.fivestar-widget div.on a {
  background-position: right -16px;
}
[dir="rtl"] .fivestar-minimal div.fivestar-widget div.hover a,
[dir="rtl"] .fivestar-minimal div.rating div a:hover {
  background-position: right -32px;
}
