/* Adjust the background position when using this widget with a RTL language. */
[dir="rtl"] .fivestar-flames div.fivestar-widget-static .star span.off,
[dir="rtl"] .fivestar-flames div.fivestar-widget-static .star,
[dir="rtl"] .fivestar-flames div.fivestar-widget .star,
[dir="rtl"] .fivestar-flames div.fivestar-widget .star a,
[dir="rtl"] .fivestar-flames div.fivestar-widget .cancel,
[dir="rtl"] .fivestar-flames div.fivestar-widget .cancel a {
  background-position: right 0;
}
[dir="rtl"] .fivestar-flames div.fivestar-widget-static .star span.on {
  background-position: right -26px;
}
[dir="rtl"] .fivestar-flames div.fivestar-widget div.on a {
  background-position: right -26px;
}
[dir="rtl"] .fivestar-flames div.fivestar-widget div.hover a,
[dir="rtl"] .fivestar-flames div.rating div a:hover {
  background-position: right -52px;
}
