{#
/**
 * @file
 * Default theme implementation for the Fivestar static element output.
 *
 * @see template_preprocess_fivestar_static_element()
 *
 * @ingroup themeable
 */
#}

<div class="fivestar-static-form-item">
  {{ content }}
</div>
