{#
/**
 * @file
 * Default theme implementation for the Fivestar percentage formatter.
 *
 * Available variables
 * - average: The average rating, expressed as an integer from 0 to 100.
 *
 * @see template_preprocess_fivestar_formatter_percentage()
 *
 * @ingroup themeable
 */
#}
<span class="fivestar-percentage">{{ average  ~ '%' }}</span>
