/* Adjust the background position when using this widget with a RTL language. */
[dir="rtl"] .fivestar-hearts div.fivestar-widget-static .star span.on {
  background-position: right -32px;
}
[dir="rtl"] .fivestar-hearts div.fivestar-widget div.on a {
  background-position: right -16px;
}
[dir="rtl"] .fivestar-hearts div.fivestar-widget div.hover a,
[dir="rtl"] .fivestar-hearts div.rating div a:hover {
  background-position: right -32px;
}
[dir="rtl"] .fivestar-hearts div.fivestar-widget .cancel,
[dir="rtl"] .fivestar-hearts div.fivestar-widget .cancel a {
  background-position: right 0;
}
[dir="rtl"] .fivestar-hearts div.fivestar-widget .star,
[dir="rtl"] .fivestar-hearts div.fivestar-widget .star a {
  background-position: right 0;
}
